main {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
}

.form-elements {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.form-elements label {
    font-size: 18px;
}
.form-input {
    border: 3px solid #beef00;
    border-radius: 4px;
    font-size: 18px;
    
}

.form-input:not(.form-textarea) {
    height: 35px;
}

.form-textarea {
    resize: none;
}

.form-input:focus {
    box-shadow: 0px 2px 13px 5px #beef00;
}
.button-div {
    text-align: center;
}

#submit {
    height: 40px;
    background-color: aliceblue;
    min-width: 120px;
    font-size: 18px;
}
#submit:hover {
    cursor: pointer;
    background-color: #beef00;

}
@media screen and (min-width: 600px) {
    form {
        width: 500px;
        
}
.form-elements {
    flex-direction: row;
    justify-content: space-between;
}
.form-input {
    width: 70%;
}
}