
:root {
    --primary color: #fff;
}
/* This is the primary header featured throught all pages*/
header {
    
    background-color: #beef00;
    text-align: center;
    padding: 16px;
    border: 5px solid rgb(255, 255, 255);
  border-radius: 24px;
  padding: 5px;
    

}

body {
    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
/* logo featured in primary banner throughout website*/
.logo-name a img {
    height: 100px;
   
   
}

.name {
    font-size: 36px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
   
  
}
/*this was added to break up color if needed*/
.Imaginative-text {
    color: black;
    
   
}
/*this was added to break up color if needed*/
.Computer-text {
    color: black;
}
/*this was added to break up color if needed*/
.Services-text {
    color: black;
}
/*navigation bar on top*/
.navigation {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color: #1400c6;
}
.navigation a {
text-decoration: none;
color: #1400c6;
}

@media screen  and (min-width: 600px) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .name {
        margin-bottom: 0;
    }
.navigation{
    width: 50%;
}
.social-media {
    margin-left: auto;
    margin-right: auto;
}
}

footer {
    background-color: #beef00;
    text-align: center;
    padding: 16px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 24px;
    padding: 5px;
}

.social-media {
    display: flex;
    justify-content: space-around;
}

.social-media a i {
    font-size: 36px;
    color: #1400c6;
    
}
/*footer text area*/
.info {
    color: #1400c6;
    font-size: 24px;
    text-decoration: solid; 
   text-decoration-thickness: 20%;
}

.info p {
    margin: 5px;
}
